streamlit
pandas
plotly
fpdf
docx2pdf
pywin32
requests
xlsxwriter
pillow
pystray
openpyxl
flask
werkzeug
fitz
streamlit_drawable_canvas
numpy
watchdog
altair
psycopg2-binary
psutil
python-docx
pyarrow
pyinstaller
